@using TeamplateHotel.Controllers
@using ProjectLibrary.Database
@using TeamplateHotel.Models
@{
    ViewBag.Title = "TourAll";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    string lang = Request.Cookies["LanguageID"].Value;
    List<ShowObject> tourall = CommentController.TourAll(lang);
}

<section class="bg-darks pd-bottom-40">
    <div class="container">
        <br />
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    <img src="~/Content/images/img-svg/icon-place-we-love.svg" alt="" class="icon-svg">
                </p>
            </div>
            <div class="col-md-12 text-center mg-bt-40">
                <h2 class="hightlight-underline">TOURS WE LOVE</h2>
                <blockquote class="about-quote">
                    <p>Here at EXO, we're all travellers at heart. This is reflected in the exciting and immersive range of tours across Asia we've meticulously crafted. Here's a shortlist of tours we're especially proud of to fuel some wanderlust.</p>
                </blockquote>
            </div>
            <div class="col-md-12 text-center">
                <div class="row mg-bot-20 we-love">
                    @foreach(var item in tourall)
                    {
                    <div class="col-md-4 mg-bot-20">
                        <div class="thumbnail">
                            <a href=""><img src="@item.Image" alt="@item.Alias" style="height: 370px"></a>
                            <div class="desc_top">
                                <h3>@item.Alias</h3>
                                <span>Japan</span>
                                <p><img src="~/Content/images/flags/icon-japan.png" alt=""></p>
                            </div>
                            <div class="desc_2">
                                <h3> @item.Title</h3>
                            </div>
                        </div>
                    </div>
                    }
                    
                    <div class="col-md-12">
                        <h2 class="hightlight-underline-black text-uppercase black">Subscribe to our newsletter!</h2>
                    </div>
                    <div class="col-md-12 text-center black">
                        <blockquote class="about-quote">
                            <p>The world of EXO Travel is always evolving. Stay in touch and we'll keep you up to speed!</p>
                        </blockquote>
                    </div>
                    <div class="col-md-12 about-exo-subscribe text-center">
                        <form>
                            <input name="email" class="newsletter-email" placeholder="Your email address" type="email" required=""> <a href="#" class="btn-about-subscribe">Subscribe</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
